*
!.bashrc
!.h.R
!.z.R
!.gitignore
!.__install-R-packages.R
!.package_to_install
!.profile
!.Rprofile
!.screenrc
!.tmux.conf
!.vim
!.vim/bundle
!.vimrc
!.Xmodmap
!.xprofile
!.ycm_extra_conf.py
!.zshrc
!.gtkrc-2.0
!.ghci
!.spacemacs

!.config
!.config/compton.conf
!.config/fish
!.config/fish/config.fish
!.config/fish/z.fish
!.config/fish/functions
!.config/fish/functions/*
!.config/nvim
!.config/nvim/autoload
!.config/nvim/autoload/*
!.config/nvim/init.vim
!.config/nvim/ftplugin
!.config/nvim/ftplugin/haskell.vim
!.config/termite
!.config/termite/config
!.config/xfce4
!.config/xfce4/desktop_background.png
!.config/xfce4/xfconf
!.config/xfce4/xfconf/xfce-perchannel-xml
!.config/xfce4/xfconf/xfce-perchannel-xml/*
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml

!.byobu
!.byobu/status
!.byobu/profile.tmux


*.un~
