*
!.gitignore
!.profile
!.bashrc
!.zshrc
!.vimrc
!.vim
!.vim/bundle
!.Rprofile
!.tmux.conf
!.__install-R-packages.R
!.ycm_extra_conf.py
!.screenrc
!.xprofile
!.Xmodmap

!.config
!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/*
!.config/nvim
!.config/nvim/init.vim
!.config/nvim/autoload
!.config/nvim/autoload/*

!.cabal
!.cabal/config

*.un~
