*
!.bashrc
!.gitignore
!.__install-R-packages.R
!.package_to_install
!.profile
!.Rprofile
!.screenrc
!.tmux.conf
!.vim
!.vim/bundle
!.vimrc
!.Xmodmap
!.xprofile
!.ycm_extra_conf.py
!.zshrc
!.gtkrc-2.0

!.config
!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/*
!.config/nvim
!.config/nvim/autoload
!.config/nvim/autoload/*
!.config/nvim/init.vim
!.config/termite
!.config/termite/config
!.config/xfce4
!.config/xfce4/desktop_background.png
!.config/xfce4/xfconf
!.config/xfce4/xfconf/xfce-perchannel-xml
!.config/xfce4/xfconf/xfce-perchannel-xml/*
!.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml

!.cabal
!.cabal/config

*.un~
