# Stylus section

#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Suppress 2
#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Threshold 27
#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" PressureCurve 0 0 100 100
#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" TabletPCButton on  # default for tablet PCs, it's off for tablets
#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Mode Absolute
#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Button 1 1
xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Button 2 2
xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Button 3 'key c'
#xsetwacom set "Wacom Intuos Pro M (WL) Pen stylus" Area 0 0 ?? ??

# Eraser section

#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" Suppress 2
#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" RawSample 4
#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" Threshold 27
#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" PressureCurve 0 0 100 100
#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" Mode Absolute
#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" Button 1 1
#xsetwacom set "Wacom Intuos Pro M (WL) Pen eraser" Area 0 0 ?? ??

# Cursor section

#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" Suppress 2 
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" RawSample 4
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" CursorProximity 10  # default depends on tablet
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" Mode Relative
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" Button 1 1
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" Button 2 2
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" Button 3 3
#xsetwacom set "Wacom Intuos Pro M (WL) Pen cursor" Area 0 0 ?? ??

# Touch, single finger (1FGT) section

xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Touch off
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Suppress 2
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" RawSample 4
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Threshold 27
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Mode Absolute
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" TapTime 250
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Button 1 1
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Area 0 0 ?? ??

# Touch, two finger (2FGT) section

#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Touch on
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Gesture on
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Suppress 2
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" RawSample 4
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Threshold 27
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Mode Relative
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Button 1 1
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" ZoomDistance 50
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" ScrollDistance 20
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" TapTime 250
#xsetwacom set "Wacom Intuos Pro M (WL) Finger touch" Area 0 0 ?? ??

# Buttons

xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 2 'key b'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 3 'key 2'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 8 'key 3'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 9 'key ctrl'

xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" AbsWheelUp 'key ='
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 1 'key F12'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" AbsWheelDown 'key -'

xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 10 'key z'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 11 'key e'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 12 'key 2'
xsetwacom set "Wacom Intuos Pro M (WL) Pad pad" Button 13 'key 3'

export GTK_IM_MODULE=fcitx
